@model Mvc.Models.UsuarioViewModel


@{
    ViewData["Title"] = "AddUser";
    Layout = null;
}

<div class="row text-center">
    <h2>Agregar Clientes</h2>
    <hr />
    <form asp-action="AddUser" asp-controller="Supervisor" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
        <input type="hidden" asp-for="Id" />

        @Html.AntiForgeryToken()

        <div class="row">
            <!-- Vista previa de la imagen -->
            <div class="form-group">
                <img id="imagenVistaPrevia" class="img-thumbnail align-middle"
                    style="max-width: 150px; max-height: 150px; border-radius: 50%;" />
            </div>

            <div class="col-md-6">

                <div class="form-group mb-3">
                    <input asp-for="UserName" placeholder="Usuario" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <select asp-for="TipoIdentificacion" class="form-select">
                        <option value="" selected disabled>Seleccionar Identificacion</option>
                        <option value="DNI">DNI</option>
                        <option value="RUC">RUC</option>
                        <option value="CARNET">CARNET</option>
                        <option value="PASAPORTE">PASAPORTE</option>
                    </select>
                    <span asp-validation-for="TipoIdentificacion" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="NumeroIdentificacion" placeholder="Numero Identificacion" class="form-control" />
                    <span asp-validation-for="NumeroIdentificacion" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="Nombres" placeholder="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="Apellidos" placeholder="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="ImageFile" type="file" class="form-control-file" />
                </div>

            </div>


            <div class="col-md-6">

                <div class="form-group mb-3">
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <select id="tuElementoDeSeleccion" asp-for="TipoUsuario" class="form-select">
                        @foreach (var roleName in Model.AvailableRoles)
                        {
                            <option value="@roleName">@roleName</option>
                        }
                    </select>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="PhoneNumber" placeholder="Telefono" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <input asp-for="Password" placeholder="Contraseña" type="password" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <input asp-for="PasswordConfirm" placeholder="Confimar Contraseña" type="password" class="form-control" />
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><i class='fa-solid fa-save'></i>Guardar Cliente</button>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>


<script>
    // Función para mostrar la vista previa de la imagen
    document.getElementById("ImageFile").addEventListener("change", function () {
        mostrarVistaPrevia(this);
    });

    function mostrarVistaPrevia(input) {
        var fileInput = input.files[0];
        var imagePreview = document.getElementById("imagenVistaPrevia");
        var reader = new FileReader();

        reader.onload = function (e) {
            console.log('Vista previa de la imagen:', e.target.result);
            imagePreview.src = e.target.result;
        };

        reader.readAsDataURL(fileInput);
    }
</script>