@model Mvc.Models.ActualizarViewModel

@{
    ViewData["Title"] = "EditarCliente";
    Layout = null;
}

<div class="row text-center">
    <h2>Actualizar Cliente</h2>
    <hr />

    <form asp-action="Editar" asp-controller="Supervisor" method="post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="TipoUsuario" />

        <div class="row">
           
            <div class="col-md-6">

                <div class="form-group mb-3">
                    <input asp-for="UserName" placeholder="Usuario" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <select asp-for="TipoIdentificacion" class="form-select">
                        <option value="" selected disabled>Seleccionar Identificacion</option>
                        <option value="DNI">DNI</option>
                        <option value="RUC">RUC</option>
                        <option value="CARNET">CARNET</option>
                        <option value="PASAPORTE">PASAPORTE</option>
                    </select>
                    <span asp-validation-for="TipoIdentificacion" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="NumeroIdentificacion" placeholder="Numero Identificacion" class="form-control" />
                    <span asp-validation-for="NumeroIdentificacion" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="Nombres" placeholder="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="Apellidos" placeholder="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>

                

            </div>


            <div class="col-md-6">

                <div class="form-group mb-3">
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <select asp-for="TipoUsuario" class="form-control">
                        <option value="Supervisor">Supervisor</option>
                        <option value="Cliente">Cliente</option>
                    </select>
                    
                </div>

                <div class="form-group mb-3">
                    <input asp-for="PhoneNumber" placeholder="Telefono" class="form-control" />
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><i class='fa-solid fa-save'></i>Actualizar Cliente</button>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
    </form>

</div>